.kg-width-wide {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .kg-width-full {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  